@import url("https://fonts.cdnfonts.com/css/real-tatoem");

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f44336, #9c27b0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 50px 24px;
}

/* desc section */
.desc-con {
  width: 100%;
  height: 100%;
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.desc-con h1 {
  margin-bottom: 24px;
}

.desc-con button {
  margin-top: 32px;
}

.desc-con .form-check-input:checked[type="radio"] {
  background-color: #1c1f23;
  border-color: #1c1f23;
}

.box-con {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 6px;
  padding: 3px 8px;
}

.item-box {
  /* border: 1px solid #1c1f23; */
  background-color: #d6dfe4;
  border-radius: 2px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.item-box {
  width: 100%;
  height: 100%;
  max-height: 100px;
  aspect-ratio: 1 / 1;
  padding: 5px;
  background-color: rgb(190, 178, 178);
  border-radius: 6px;
  box-sizing: border-box;
}

.item-box-empty {
  max-height: 100px;
  aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 992px) {
  .desc-con {
    padding-left: 0;
  }
}
